<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">

<div class="container">
    <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3">Adops Services</h1>
        <p class="mb-5">Our services are </p>
    </div>
    <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="advanced-feature-item text-center rounded py-5 px-4">
                <i class="fa fa-edit fa-3x text-primary mb-4"></i>
                <h5 class="mb-3">The Ad Ops Stack</h5>
                <p class="m-0">We are a full-service, ad operations agency that can provide managed services and professional services.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="advanced-feature-item text-center rounded py-5 px-4">
                <i class="fa fa-sync fa-3x text-primary mb-4"></i>
                <h5 class="mb-3">Managed Services</h5>
                <p class="m-0">Our Ad Ops Managed Services teams provide hands-on, professional ad operations services to publishers who rely on both direct and programmatic ad sales to drive revenue for their organizations. </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="advanced-feature-item text-center rounded py-5 px-4">
                <i class="fa fa-laptop fa-3x text-primary mb-4"></i>
                <h5 class="mb-3">Technology Reselling & Support</h5>
                <p class="m-0">We identify client needs and provide solutions by partnering with the best solutions providers in their field.
<!-- 				    AdOps works directly with the partner to manage the contract process, streamline implementation, and manage the relationship, so you can focus on what matters most – the success of your business! -->
    </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="advanced-feature-item text-center rounded py-5 px-4">
                <i class="fa fa-draw-polygon fa-3x text-primary mb-4"></i>
                <h5 class="mb-3">Technical Consulting</h5>
                <p class="m-0">We provides clients with premium, best-in-class project services, consulting services, and technical support. 
<!-- 				    From setting up your ad platforms, to advising on strategy, to troubleshooting highly technical issues,we are here for all of your ad ops needs.  -->
    </p>
            </div>
        </div>
    </div>
</div>
